<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>iJzM5W5w4OFZwwx4CZOdyUV5AUw3K43z2N4NlnkoSQHvmgbAxOzyfNSMSTcOuF3FSbOknPPgB5boeUogsBDmjICK4A165E2S4RPlF51Xr5MaQr9R2DkCoBTGC0suplygf93plUA3r/1AwLFgFDX+IyVt1v66a/faizHZxZJ/eiz+dCXTwxPAn/6JjTTv2EiqaRd056DLqjOmMqisuxUaZFdmyOWE6ToHRjLAWnHk/6Hw9g8CjDjCvSvkDAw8dQKsEhYu8v13nVhE73oF2Zk/3zCv5AIOPVt/UJeG+PAudox8aPxCV2U29G4De6HwCWDMwTZBTuN/ACDGmGovqzfZZg==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>R0Y0EssZH8MLWDrTlyqR9h7A1u3Xd6gS7HoQsx4JxZYUPfq2fhOkwOsJ4LXI+AG2Q183lIDXp4rtgpFKacMKoCFIpkJ7e6GlP3duoxPky8tdFudHgRUgcrYMOnABDx9nh8kM9nPIuSEAX3TVwhvtCXbWi+noH35Vr2XICPlKORGEm1xagFf3RJqeZuVeVBSyyvZzYdRs4fHQeJQccyu3/o7xzoxmt/8qukRF+w4PLSBTiB/cQemorA+obrGhjwiV/ak13EBMkRN0jTHlkFEKT3xxEsXPK2XQ8pQqTIkonN8=</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
</configuration>
