<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>XrfjK1HUJwZDsLkXtR+KCi4g4sz4y8Fst9O343smQdfp9BZber22BlkD7oQR3jXkA7ykbXzYjwJD1uSk+jiqWqZ/5qblKBDeY/3o+D7hyW2oWL8Oo5uxROE4lyaeqMVEjT95ROumm3PzSpbzNG2+TFtIj8CbU0A0ClKGWK94yxczoEIE7f68qR2Wulu7YawBafX23vpUk9ct2V+rRvYC5Jc1l6Xc3IG8gXCDVOXowl/06WbiGX3TJ0AZ1Sxc1rWPVVWYMOw9i21pq4vXSMtIbPTsq+WTN+1OVQwV4gBUFyNQQjUatrdiXHvKj3tbF0c4LsJKZuDcDmUghSek3B38PQ==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>RqgeWyp0ChAWsC+OmptDjNYD50/IrHFPxDxvCVOiVXeZUqsqawdGVZusKzFS1XkFFdhXGVnaR3sVm+NdWlcuNoyIJifgPki/BomxrlGkbLjTeQbN/judTYAKxTZ099JSsKTnaRoO5Zw4JS5chZ+ujL14IFLb5/yZtqyvqGNa3B18OxUA5HrLWgYCQwR0YObqJJqN+cKE08SL8H69elyGvNpkBbTT1Rw6RaAI+fZDQWpTgrrDIGiXyzuacyacZ8tzUQDS3XSxyPkh98MiErMfdIR4lu0WoG+Ztm6PU584aNU=</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
</configuration>
