<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>Xrt+Zfpy9ySkfKp6IfyDaxd/Cy8jImBd1gP3HigSmJWMnw7COmyc0tQW6SOsOIv+uPPoeCC4+pEjALPrdV3F5Ke7K07fU5Ow8zoZzCf6lADXiglL9u8RcHJ3saLQb3v9vku+XPzzmXm6SiM4MVbR8EzvowWZC6Bj40Y+6BWDv4ReeFh39B36yHJd7rIFyMQ8s11GsLLUOCg+AN1fTJeiAPW+HVBcSwnboZPWQtshLipsukZ0X/qkg+tcuqJEkzbBTS5QWaDU1JFjCobjRn0SomIwwLTO7cBJgTSP0tcjMnMzOmBAUfj6OJyD+f0nFpVC71BSl7koU997qMEBLmpUzQ==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>cpMtYhQtAP5JxV10cwbP/WiVeRBNEPWdL6mqMNB7O2MyMv2r4ZaNcxWzlqY+xFM7b2oB1dKpa6xr8SpWrGFcAp9o3cSip0iyVTrICXvAYxu8Fd7SapJcJbk8rnm1r3bdpUJb5Dkzk7RbvaCmR7673hWwAA4MXZzxHyPZujGlG4u93JI1weatgXBvXzdPZrHGXRd36qbmiO1f24OKflTfDei8cHCb5FQdYtcDP+HY3AxwMqGZc7dXgggFSiE2ij72lSKeUIsftEbTk5bUWlb/xAieN2RFd4RaA5xeezRen3s=</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
</configuration>
